.sign-in {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-login {
    background: rgb(209, 72, 54);
    font: 35px bold;
    border-radius: 20px;
    padding: 30px;
    cursor: pointer;
    border: 1px solid transparent;
}

.google-login:hover {
    background: rgb(198, 55, 36);
}