.city-chooser {
  display: flex;
  height: 40%;
  flex-direction: column;
  align-items: center;
}
.cities {
  display: flex;
  padding: 20px;
}
.city {
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.city * {
  padding: 5px 0;
  cursor: pointer;
}
.city-arm {
  height: 12vw;
  max-height: 112px;
}
.city-name {
  font-family: moon-regular, Arial, sans-serif;
  font-size: 2vw;
}
.selected {
  font-family: moon-bold !important;
  opacity: 0.9;
}
.selected:hover {
  opacity: 1;
}
.not-selected {
  opacity: 0.7;
}
.city-submit {
  padding: 5px 20px;
}
.header {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: 76px;
}
.header * {
  font: 20px bold;
  font-family: moon-bold;
  margin: 5px auto;
  padding: 2px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
}
.header > i {
  font-family: sans-serif;
}
.google-logout {
  margin-right: 20%;
  background: #759feb;
  float: right;
  color: white;
  margin-left: 5px;
  font-family: moon-regular, Arial, sans-serif;
}
.google-logout:hover {
  background: #5a70eb;
}
.notification-icon {
  margin-right: 0px;
  width: 25px;
}
.header-title {
  margin-left: 20%;
  text-decoration: none;
  font-size: 25px;
  color: #759FEB;
  font-weight: bold;
  text-shadow: 1px 2px 1.2px black;
}
.number {
  padding: 0px;
  margin-right: 0px;
  display: none !important;
}
.number[data-count]:after {
  margin: 0px;
  position: absolute;
  right: 10%;
  top: 8%;
  content: attr(data-count);
  font-size: 40%;
  padding: .2em;
  line-height: 1em;
  color: white;
  background-color: #939DFE;
  text-align: center;
  min-width: 1em;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 35%;
  margin: 0 auto 0 auto;
}
.search-input-container {
  width: 100%;
}
.search-input-container input,
.search-input-container input:focus {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  box-shadow: 0 2px 7px -3px #000000;
  border: #b0b0b0 solid 1px;
  border-radius: 3px;
  outline: none;
}
.autocomplete-container,
.autocomplete-container:hover {
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 3px 0 3px 10px;
  margin-left: 11px;
  border: #b0b0b0 solid 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.suggestion-item span,
.suggestion-item--active span {
  font-family: Arial, sans-serif;
  font-size: 12px;
  cursor: default;
}
.suggestion-item--active {
  background-color: #efefef;
}
.sign-in {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-login {
  background: #d14836;
  font: 35px bold;
  border-radius: 20px;
  padding: 30px;
  cursor: pointer;
  border: 1px solid transparent;
}
.google-login:hover {
  background: #c63724;
}
.step-navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.navigator {
  text-decoration: none;
}
.not-visible {
  visibility: hidden;
}
.arrow {
  padding: 10px;
  margin: 0 10px;
  color: #759FEB;
}
.step-header {
  display: flex;
  font-size: 30px;
  padding: 20px 0;
}
.label {
  margin: 0 10px;
}
.step-number {
  font-family: moon-bold;
}
.step-label {
  font-family: moon-regular;
}
.images-container {
  display: inline-flex;
}
@keyframes left-header {
  0% {
    left: -800px;
  }
  100% {
    left: 0;
  }
}
@keyframes right-header {
  0% {
    left: 1000px;
  }
  100% {
    left: 450px;
  }
}
.welcome {
  position: relative;
  justify-content: center;
  background: url(".\\assets\\header-left.png") no-repeat right;
  background-size: cover;
  width: 65%;
  height: 29vh;
  animation-name: left-header;
  animation-duration: 2s;
}
.header-right {
  background: url(".\\assets\\header-right.png") no-repeat left;
  background-size: cover;
  position: absolute;
  height: 29vh;
  width: 65%;
  left: 450px;
  animation-name: right-header;
  animation-duration: 2s;
}
.slogan {
  font-size: 40px;
  margin: 50px;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-shadow: 1px 1px red;
}
.criteria {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 80px);
}
.criteria .select-criteria {
  width: 40%;
  margin: 30px;
}
.criteria .collapsible-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: calc(100% - 175px);
  overflow-y: auto;
}
.criteria .collapsible-list > .collapsible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 4px);
  border: solid 2px #759feb;
  margin: 2px;
  font-family: moon-regular, Arial, sans-serif;
  font-size: 1.5em;
}
.criteria .collapsible-list > .collapsible > div {
  width: 95%;
}
.criteria .collapsible-list > .collapsible > .expand {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
}
.criteria .collapsible-list > .collapsible > .expanded {
  border-top: dashed 2px #759feb;
}
.criteria .collapsible-list > .collapsible > .expanded .custom {
  display: flex;
  flex-direction: column;
}
.criteria .collapsible-list > .collapsible > .expanded .custom > form {
  width: 60%;
  padding: 5px 3%;
  display: flex;
  flex-direction: column;
}
.criteria .collapsible-list > .collapsible > .expanded .custom > form > * {
  margin-bottom: 10px;
}
.criteria .collapsible-list > .collapsible > .expanded .custom > form > .input {
  width: 90%;
  height: 20px;
}
.criteria .collapsible-list > .collapsible > .expanded .custom > form > .error {
  color: #e82222;
  font-size: 14px;
}
.criteria .collapsible-list > .collapsible > .expanded .distance {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.criteria .collapsible-list > .collapsible > .expanded .distance > div {
  width: 90%;
  margin: 10px;
}
.criteria .collapsible-list > .collapsible > .expanded .distance-picker {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.criteria .collapsible-list > .collapsible > .expanded .distance-picker > :nth-child(1) {
  width: 75%;
}
.criteria .collapsible-list > .collapsible > .expanded .distance-picker > :nth-child(2) {
  width: 20%;
}
