@font-face {
  font-family: moon-bold;
  src: url('fonts/Moon2.0-Bold.otf');
}
@font-face {
  font-family: moon-light;
  src: url('fonts/Moon2.0-Light.otf');
}
@font-face {
  font-family: moon-regular;
  src: url('fonts/Moon2.0-Regular.otf');
}
body {
  height: 95%;
  padding: 0 20px;
  margin: 0;
  font-family: moon-regular, Arial, sans-serif;
}
.flex,
.flex-column,
.flex-row,
.app,
.step-container .step,
.step-container .step .step-content,
.city-chooser,
.cities,
.city,
.header,
.search-bar-container,
.sign-in,
.step-navigator,
.step-header,
.criteria,
.criteria .collapsible-list,
.criteria .collapsible-list > .collapsible,
.criteria .expand,
.criteria .distance,
.criteria .custom,
.criteria .line {
  display: flex;
}
.flex-column,
.app,
.step-container .step,
.step-container .step .step-content,
.city-chooser,
.city,
.search-bar-container,
.step-header,
.criteria,
.criteria .collapsible-list,
.criteria .collapsible-list > .collapsible,
.criteria .distance,
.criteria .custom,
.criteria .line {
  flex-direction: column;
}
.clickable,
.city *,
.header *,
.google-login,
.criteria .expand {
  cursor: pointer;
}
.centered,
.step-container .step,
.step-container .step .step-content,
.city-chooser,
.city,
.header,
.search-bar-container,
.sign-in,
.step-navigator,
.step-header,
.criteria,
.criteria .collapsible-list,
.criteria .collapsible-list > .collapsible,
.criteria .expand,
.criteria .distance {
  align-items: center;
}
.justified,
.step-container .step,
.search-bar-container,
.sign-in,
.step-navigator,
.welcome,
.criteria .collapsible-list > .collapsible {
  justify-content: center;
}
.stretched,
.header,
.criteria .expand {
  justify-content: space-between;
}
.full-size,
.app,
.step-container .step,
.header {
  height: 100%;
  width: 100%;
}
.text-centered,
.step-header {
  text-align: center;
}
@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(60px);
  }
}
svg #wheel {
  animation: scroll ease 2s infinite;
}
.step-container {
  height: calc(100vh - 50px);
  margin-top: 50px;
}
.step-container .step .navigator {
  cursor: pointer;
  opacity: 0.2;
}
.step-container .step .navigator:hover {
  opacity: 1;
}
.step-container .step .step-content {
  height: 100%;
  text-align: center;
  width: 90%;
}
.step-container .step .step-header {
  font-family: moon-bold, Arial, sans-serif;
  font-size: 1.4em;
}
.city-chooser {
  height: 40%;
}
.cities {
  padding: 20px;
}
.city {
  margin: 0 5vw;
}
.city * {
  padding: 5px 0;
}
.city-arm {
  height: 12vw;
  max-height: 112px;
  font-family: moon-bold, Arial, sans-serif !important;
  opacity: 0.8;
}
.city-arm:hover {
  opacity: 1;
}
.city-name {
  font-size: 1.2em;
}
.city-submit {
  padding: 5px 20px;
}
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  background-color: #ffffff;
  height: 50px;
}
.header {
  font-family: moon-bold, Arial, sans-serif;
  flex-wrap: wrap;
}
.header * {
  margin: 5px auto;
  padding: 2px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
}
.google-logout {
  background-color: #759FEB;
  color: #ffffff;
  font-size: 1.1em;
}
.google-logout:hover {
  background-color: #759FEB;
}
.notification-icon {
  margin-right: 0px;
  width: 25px;
}
.header-title {
  font-size: 1.3em;
  text-decoration: none;
  color: #759FEB;
  text-shadow: 1px 2px 1.2px black;
}
.number {
  padding: 0px;
  margin-right: 0px;
  display: none !important;
}
.number[data-count]:after {
  margin: 0px;
  position: absolute;
  right: 10%;
  top: 8%;
  content: attr(data-count);
  font-size: 40%;
  padding: .2em;
  line-height: 1em;
  color: #ffffff;
  background-color: #759FEB;
  text-align: center;
  min-width: 1em;
}
.search-bar-container {
  margin: 0 auto 0 auto;
  width: 100%;
}
.search-input-container {
  width: 35%;
}
.search-input-container input,
.search-input-container input:focus {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  box-shadow: 0 2px 7px -3px #000000;
  border: #b0b0b0 solid 1px;
  border-radius: 3px;
  outline: none;
}
.autocomplete-container,
.autocomplete-container:hover {
  width: 35%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 3px 0 3px 10px;
  margin-left: 11px;
  border: #b0b0b0 solid 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.suggestion-item span,
.suggestion-item--active span {
  font-family: moon-regular, Arial, sans-serif;
  font-size: 0.9em;
  cursor: default;
}
.suggestion-item--active {
  background-color: #efefef;
}
.sign-in {
  flex: auto;
}
.google-login {
  font-family: moon-bold, Arial, sans-serif;
  font-size: 1.2em;
  background-color: #d14836;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid transparent;
}
.google-login:hover {
  background-color: #c63724;
}
.step-navigator {
  width: 100%;
  margin-top: 30px;
}
.navigator {
  text-decoration: none;
}
.not-visible {
  visibility: hidden;
}
.arrow {
  padding: 10px;
  margin: 0 10px;
  color: #759FEB;
}
.step-header {
  font-size: 1.2em;
  padding: 20px 0;
}
.step-number {
  font-family: moon-bold, Arial, sans-serif;
}
.step-label {
  font-family: moon-regular, Arial, sans-serif;
}
.images-container {
  display: inline-flex;
}
@keyframes left-header {
  0% {
    left: -800px;
  }
  100% {
    left: 0;
  }
}
@keyframes right-header {
  0% {
    left: 1000px;
  }
  100% {
    left: 450px;
  }
}
.welcome {
  position: relative;
  background: url(".\\assets\\header-left.png") no-repeat right;
  background-size: cover;
  width: 65%;
  height: 29vh;
  animation-name: left-header;
  animation-duration: 2s;
}
.header-right {
  background: url(".\\assets\\header-right.png") no-repeat left;
  background-size: cover;
  position: absolute;
  height: 29vh;
  width: 65%;
  left: 450px;
  animation-name: right-header;
  animation-duration: 2s;
}
.slogan {
  font-size: 1.3em;
  margin: 50px;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-shadow: 1px 1px red;
}
.criteria {
  font-family: moon-regular, Arial, sans-serif;
}
@media (max-width: 400px) {
  .criteria > :not(:first-child) {
    font-size: 0.8em;
  }
}
@media (min-width: 400px) and (max-width: 700px) {
  .criteria > :not(:first-child) {
    font-size: 0.9em;
  }
}
@media (min-width: 700px) {
  .criteria > :not(:first-child) {
    font-size: 1em;
  }
}
@media (max-width: 600px) {
  .criteria .select-criteria {
    width: 100%;
  }
  .criteria .collapsible-list {
    width: 100%;
  }
  .criteria .form > :first-child {
    flex-direction: column;
  }
  .criteria .form > :first-child > .name {
    margin-bottom: 5px;
  }
}
@media (min-width: 600px) {
  .criteria .select-criteria {
    width: 600px;
  }
  .criteria .collapsible-list {
    width: 600px;
  }
}
.criteria .collapsible-list {
  margin-bottom: 5%;
}
.criteria .collapsible-list > .collapsible {
  border: solid 1px #759feb;
  box-sizing: border-box;
  margin-top: 5px;
  width: 100%;
}
.criteria .collapsible-list > .collapsible > div {
  width: 96%;
}
.criteria .expand {
  height: 2em;
}
.criteria .expanded {
  border-top: dashed 1px #759feb;
}
.criteria .expanded label {
  text-align: left;
}
.criteria .distance > .select {
  margin: 10px;
}
.criteria .distance > .input-range {
  margin: 20px 0 30px 0;
}
.criteria .distance > * {
  width: 98%;
}
.criteria .custom {
  padding: 10px;
}
.criteria .line > label {
  margin: 10px 0 5px 0;
}
.criteria .line > .input-range {
  margin: 20px 0;
}
.criteria .line > .input {
  margin-bottom: 5px;
  border-style: solid;
  padding: 5px;
}
.criteria .line > .input.error {
  border-color: #d14836;
}
.criteria .line > .input:focus {
  border-color: #759FEB;
}
button:disabled {
  background-color: #cccccc;
}
.generate-map {
  background-color: #759FEB;
  width: 300px;
  color: #ffffff;
  font-size: 1.2em;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 20px;
}
.map {
  height: 50vh;
  width: 100%;
}
.map-area {
  border: 3px solid;
  border-radius: 50%;
  height: 60px;
  opacity: 0.7;
  position: absolute;
  width: 60px;
  left: -30px;
  top: -30px;
}
.map-area-green {
  background-color: #0AB51F;
  border-color: #055F05;
}
.map-area-green:hover {
  background-color: #0E8D1E;
}
.map-area-bus {
  background-color: #fff;
  border: 2px solid #0149B0;
  border-bottom: 5px solid #0149B0;
  height: 15px;
  padding: 0 1px;
  width: 10px;
}
