// colors
@white: #ffffff;
@white-hover: #efefef;

@blue: #759FEB;
@blue-hover: #538ffc;
@blue-dark: #5873af;

@red: #D14836;
@red-hover: #C63724;
@red-dark: #A23424;

@green: #0AB51F;
@green-hover: #0E8D1E;
@green-dark: #055F05;

@orange: #FFD800;
@orange-hover: #FFA200;
@orange-dark: #C77700;

@purple: #cb00ff;
@purple-hover: #a80091;
@purple-dark: #880072;

@cyan: #00c7ff;
@cyan-hover: #009bd0;
@cyan-dark: #00739c;

@silver: #c0c0c0;
@silver-hover: #9d9d9d;
@silver-dark: #7e7e7e;

@bronze: #cd7f32;
@bronze-hover: #cd7700;
@bronze-dark: #9c5400;

@orchid: #da70d6;
@orchid-hover: #b259ae;
@orchid-dark: #854381;

@pear: #d1e231;
@pear-hover: #afc030;
@pear-dark: #8b9c2c;

// font-families
@font-face {
  font-family: moon-bold;
  src: url('fonts/Moon2.0-Bold.otf');
}

@font-face {
  font-family: moon-light;
  src: url('fonts/Moon2.0-Light.otf');
}

@font-face {
  font-family: moon-regular;
  src: url('fonts/Moon2.0-Regular.otf');
}
@font-family-regular: moon-regular, Arial, sans-serif;
@font-family-light: moon-light, Arial, sans-serif;
@font-family-bold: moon-bold, Arial, sans-serif;

// font-sizes

@font-size-very-huge: 1.4em;
@font-size-huge: 1.3em;
@font-size-very-big: 1.2em;
@font-size-big: 1.1em;
@font-size-regular: 1.0em;
@font-size-small: 0.9em;
@font-size-very-small: 0.8em;
@font-size-tiny: 0.7em;
@font-size-very-tiny: 0.6em;