.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header *{
    font: 20px bold;
    margin: 5px auto;
    padding: 2px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
}

.google-logout {
    background: #759feb;
    float: right;
    color: white;
    align-self: flex-end;
    margin-left: 0px;
}

.google-logout:hover {
    background: #5a70eb;
}

.notification-icon {
    margin-right: 0px;
    width: 25px;
    align-self: flex-end;
}

.header-title {
    text-decoration: none;
    font-size: 25px;
    color: #759FEB;
    font-weight: bold;
}

.header-title:hover{
    background-color: rgb(0, 218, 252);
}