.criteria {
    &:extend(.flex-column, .centered);

    > :not(:first-child) {
        @media (max-width: 400px) {
            font-size: @font-size-very-small;

            .error {
                font-size: @font-size-tiny;
            }
        }

        @media (min-width: 400px) and (max-width: 700px) {
            font-size: @font-size-small;

            .error {
                font-size: @font-size-very-small;
            }
        }

        @media (min-width: 700px) {
            font-size: @font-size-regular;

            .error {
                font-size: @font-size-small;
            }
        }
    }

    @media (max-width: 600px) {
        .select-criteria {
            width: 100%;
        }

        .collapsible-list {
            width: 100%;
        }

        .distance-picker {
            flex-direction: column;
        }

        .form {
            > :first-child {
                &:extend(.centered);
                flex-direction: column;

                > .name {
                    margin-bottom: 5px;
                }
            }
        }
    }

    @media (min-width: 600px) {
        .select-criteria {
            width: 600px;
        }

        .collapsible-list {
            width: 600px;
        }
    }


    font-family: @font-family-regular;

    .collapsible-list {
        &:extend(.flex-column, .centered);
        margin-bottom: 5%;

        > .collapsible {
            &:extend(.flex-column, .centered, .justified);
            border: solid 1px rgb(117, 159, 235);
            box-sizing: border-box;
            margin-top: 5px;
            width: 100%;

            > div {
                width: 96%;
            }
        }
    }

    .expand {
        &:extend(.flex-row, .centered, .stretched, .clickable);
        height: 2em;
    }

    .expanded {
        border-top: dashed 1px rgb(117, 159, 235);
    }

    .distance {
        &:extend(.flex-column, .centered);

        > div {
            margin: 10px;
            width: 98%;
        }

        .distance-picker {
            &:extend(.flex-row, .centered);

            > :nth-child(1) {
                margin: 0 20px 10px 0;
                width: calc(~"100% - 100px");
            }

            > :nth-child(2) {
                margin: 10px 0;
                width: 100px;
            }
        }
    }

    .custom {
        &:extend(.flex-column);

        padding: 10px;
    }

    .form {
        > &-line {
            &:extend(.flex-column, .centered);

            > :first-child {
                &:extend(.flex-row, .stretched);

                width: 100%;

                > .name {
                    width: 50%;
                }

                > .input {
                    &:focus {
                        border-color: @blue !important;
                    }

                    width: 50%;
                    height: 20px;
                    border: 1.2px ridge lightgray;
                }
            }

            > .error {
                color: @red;
            }

            > div, > label {
                margin: 5px 0;
            }
        }
    }
}
