.criteria {
    &:extend(.flex-column, .centered);
    width: 100%;
    height: calc(~"100% - 50px - 20px"); 

    > :not(:first-child) {
        @media (max-width: 400px) {
            font-size: @font-size-very-small;
        }

        @media (min-width: 400px) and (max-width: 700px) {
            font-size: @font-size-small;
        }

        @media (min-width: 700px) {
            font-size: @font-size-regular;
        }
    }

    @media (max-width: 700px) {
        .select-criteria {
            width: 90%;
        }

        .collapsible-list {
            width: 90%;
        }

        .form {
            > :first-child {
                &:extend(.centered);
                flex-direction: column;

                > .name {
                    margin-bottom: 5px;
                }
            }
        }
    }

    @media (min-width: 700px) {
        .select-criteria {
            width: 630px;
        }

        .collapsible-list {
            width: 630px;
        }
    }

    font-family: @font-family-regular;

    .collapsible-list {
        &:extend(.flex-column, .centered);
        height: calc(~"100% - 38px");
        overflow-y: auto;
        padding-right: 3px;

        > .collapsible {
            &:extend(.flex-column, .centered, .justified);
            border: solid 1px rgb(117, 159, 235);
            box-sizing: border-box;
            margin-top: 5px;
            width: 100%;

            > div {
                width: 96%;
            }
        }
    }

    .expand {
        &:extend(.flex-row, .centered, .stretched, .clickable);
        height: 2em;
    }

    .expanded {
        & label {
            text-align: left;
        }
        border-top: dashed 1px rgb(117, 159, 235);
    }

    .distance {
        &:extend(.flex-column, .centered);

        & > .select {
            margin: 10px;
        }

        & > .input-range {
            width: 90%;
            margin: 20px 0 30px 0;
        }

        & > * {
            width: 98%;
        }
    }

    .custom {
        &:extend(.flex-column);

        padding: 10px;
    }

    .line {
        &:extend(.flex-column);

        > label {
            margin: 10px 0 5px 0;
        }

        & > .input-range {
            margin: 20px 0;
        }

        & .input {
            margin-bottom: 5px;
            border-style: solid;
            padding: 5px;

            &.error {
                border-color: @red;
            }

            &:focus {
                border-color: @blue;
            }
        }

        
        & > .rating {
            display: flex;
            justify-content: space-around;
            
            & > span {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-basis: 33.33%;
                flex-grow: 0;

                & > .input {
                    width: 40%;    
                }
    
            }
        }
    }
}

button {
    &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
}

.map-button {
    background-color: @blue;
    width: 300px;
    color: @white;
    font-size: @font-size-very-big;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    @media (max-width: 320px) {
        width: 90%;
    }
}
