.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  background-color: @white;
  height: 50px;
}

.header {
  &:extend(.flex-row, .centered, .stretched, .full-size);
  font-family: @font-family-bold;

  flex-wrap: wrap;
}

.header * {
  &:extend(.clickable);
  margin: 5px auto;

  padding: 2px 20px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.google-logout {
  background-color: @blue;
  color: @white;
  font-size: @font-size-big;
}

.google-logout:hover {
  background-color: @blue;
}

.notification-icon {
  margin-right: 0px;
  width: 25px;
}

.header-title {
  font-size: @font-size-huge;
  text-decoration: none;
  color: @blue;
  text-shadow: 1px 2px 1.2px black;
}

.number {
  padding: 0px;
  margin-right: 0px;
  display: none !important;
}

.number[data-count]:after{
  margin: 0px;
  position: absolute;
  right: 10%;
  top: 8%;
  content: attr(data-count);
  font-size: 40%;
  padding: .2em;
  line-height: 1em;
  color: @white;
  background-color: @blue;
  text-align: center;
  min-width: 1em;
}
