.step-navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.navigator {
  text-decoration: none;
}

.not-visible {
  visibility: hidden;
}

.arrow {
  padding: 10px;
  margin: 0 10px;
  color: #759FEB;
}

.step-header {
  display: flex;
  font-size: 30px;
  padding: 20px 0;
}

.label {
  margin: 0 10px;
}

.step-number {
  font-family: moon-bold;
}

.step-label {
  font-family: moon-regular;
}

