.step-container {
  margin-top: 50px;

  height: calc(~"100vh - 50px");

  .step {
    &:extend(.flex-column, .centered, .justified, .full-size);

    .navigator {
      cursor: pointer;
      opacity: .2;

      @media (max-width: 400px) {
        display: none;
      }
    }

    .navigator:hover {
      opacity: 1;
    }

    .step-content {
        &:extend(.flex-column, .centered);
        height: calc(~"100% - 135px");
        text-align: center;
        width: 90%;

        @media (max-width: 400px) {
          width: 100%;
        }
    }

    .step-header {
      font-family: @font-family-bold;
      font-size: @font-size-very-huge;
    }
  }
}
